 <div class="table-container"> 
    <table class="table"> 
       <tr>
                                          <th class="fs-2 table-primary" colspan="3">Atual</th>
                                   </tr>
      <tr> 
                            <th scope="col"></th>
                            <th scope="col">Real ($)</th>
                            <th scope="col">Ouro (g)</th>
      </tr> 
      <tr> 
                            <td>Crédito</td>
                            <td>$.00</td>
                            <td>$.00</td>
      </tr> 
      <tr> 
                            
                            <td>Débito</td>
                            <td>$.00</td>
                            <td>$.00</td>
       </tr> 
      <tr class="fw-bold"> 
                            <td>Saldo</td>
                            <td>$.00</td>
                            <td>$.00</td>
      </tr> 
    </table> 

    <table class="table"> 
      <th colspan="3"  class="fs-2 table-warning">Renda Potencial / Disponível</th>
      <tr> 
                     <tr>
                            <th scope="col"></th>
                            <th scope="col">Real ($)</th>
                            <th scope="col">Ouro (g)</th>
      </tr> 
      <tr> 
                           <td>Saldo</td>
                            <td>$.00</td>
                            <td>$.00</td>
      </tr> 
                     <tr>
                            <td>A ganhar:</td>
                            <td>$.00</td>
                            <td>$.00</td>
                     </tr>
                      <tr class="fw-bold">
                            <td>Disponível</td>
                            <td>$.00</td>
                            <td>$.00</td>
                     </tr>      
    </table> 
  </div> 